{% extends 'navbase.html' %}
{% block title %}Index{% endblock %}
{% block body %}

    <div class="container-fluid py-lg-2 h-100">
        <div class="row">
            <div class="jumbotron col-md-12" style="background-color:#19181A!important;opacity:0.7;">
                <h5 class="list-inline text-center font-weight-bold" style="text-align: center; color: white">
                    Welcome to the HistoryPub. Press the button below to be taken inside
                </h5>
                <br>
                <div style="text-align: center">
                    <a class="btn btn-primary" name="pub_access_button" href="/pub" style="align-self: center"> Enter </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}