<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Indie+Flower" rel="stylesheet">
    {% load static %}
    <link href="{% static '/css/main_style.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}HistoryPub{% endblock %}</title>
</head>

<body>
<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark smite-bg-dark">
    <a class="navbar-brand"
       href="/">
        HistoryPub
    </a>
    {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    id="id_nav_teams">
                    <a id="nav-link" class="nav-link" href="/pub/">
                        Pub
                    </a>
                </li>
                <li class="nav-item"
                    id="id_nav_teams">
                    <a id="nav-link" class="nav-link" href="/pub/characters">
                        My acquaintances
                    </a>
                </li>
                <li class="nav-item"
                    id="id_nav_teams">
                    <a id="nav-link" class="nav-link" href="/pub/characters/suggest/">
                        Suggest Character
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link">{{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a id="nav-logout" class="nav-link" href="/accounts/logout/">Logout</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>
<div class="container">
    <div class="col align-self-center">
        {% block body %}
        {% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>